* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #f3f4f8;
}

body {
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

.whole {
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: 18px;
  padding: 8px 12px;
  font-size: 14px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  background-color: #ebecf0;
}

input:hover {
  border-color: #bfbfbf;
  cursor: pointer;
}

input:focus {
  border-color: #0060df;
  outline: none;
}

.add-btn {
  background-color: #33ccff;
}

.delete-btn {
  background-color: #ff4d4d;
  margin-left: auto;
}

.edit-btn {
  background-color: #3f50ff;
}

.add-btn,
.delete-btn,
.edit-btn {
  border-radius: 18px;
  padding: 8px 12px;
  font-size: 14px;
  color: #ffffff;
  border: none;
}

.add-btn:hover,
.delete-btn:hover,
.edit-btn:hover {
  cursor: pointer;
}

.add-btn:hover {
  background-color: #66d9ff;
}

.delete-btn:hover {
  background-color: #e94c41;
}

.edit-btn:hover {
  background-color: #6675ff;
}

.form-row {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
}

.remaining-symbols {
  position: absolute;
  top: 40px;
  right: 10px;
  color: grey;
  opacity: 0.8;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item-flex {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
  background-color: #e0e3ff;
  padding: 10px;
  border-radius: 18px;
}

.todo-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #3f50ff;
  background: transparent;
}

h3,
.new-note {
  font-family: Ubuntu, sans-serif;
}

.new-note,
h3 {
  font-weight: 600;
  color: #3e3d3d;
}

@media (max-width: 480px) {
  .todo-item-flex {
    flex-direction: column;
  }

  .delete-btn {
    margin-left: 0;
  }

  .todo-text {
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
